body {
    background-color: rgb(174, 231, 174);
}

.headerrow,
#messagePane {
    background-color: #c4ffc4;
}

.join_room_response,
.left_room_response {
    background-color: rgb(247, 247, 247);
}

.chat_message {
    font-size: 125%;
    margin: 1px 1px 1px 1px;
    color: rgb(0, 0, 0);
}

table#game_board {
    border: 4px solid black;
    margin: 0px;
    padding: 0px;
}

table#game_board td {
    background-color:aquamarine;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

table#game_board td.hovered_over:hover {
    background-color: blueviolet;
    /*background-image: url('/assets/images/hover.gif');*/
}

/*
table#game_board td:hover {
    background-color: blueviolet;
}
*/

/*
td.hovered_over:hover {
    background-image: url('/assets/images/hover.gif');
}
*/

/*
td.hovered_over:hover {
    background-image: url('/public/assets/images/hover.gif');
}
*/